<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!--<div class="middle">-->
   
<div class="card" style="width: 18rem;">
  <img src="../../assets/images/TEMP1.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Brother ChristhuDas</h5>
    <button (click)="navigateToVideos()" class="btn btn-success">వీడియో కోసం ఇక్కడ క్లిక్ చేయండి</button>
   <!-- <a routerLink="/temp1/content" [queryParams]="{ userId: user2 }" class="btn btn-primary stretched-link">వీడియో కోసం ఇక్కడ క్లిక్ చేయండి</a>
  --><router-outlet></router-outlet>
</div>



  
